name: Build Docker Image

on:
  pull_request:
    branches:
      - master
  merge_group:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-image:
    name: 'Build image: ${{ matrix.image.image-name }}'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        image:
          - name: Alpine Base
            workspace-folder: base-images/src/alpine-base
            image-name: alpine-base
          - name: WordPress All-in-One
            workspace-folder: images/src/wordpress-all-in-one
            image-name: wordpress-all-in-one
    steps:
      - name: Check out the source code
        uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3 # v3.5.0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@e81a89b1732b9c48d79cd809d8d81d79c4647a18 # v2.1.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@4b4e9c3e2d4531116a6f8ba8e71fc6e2cb6e6c8c # v2.5.0

      - name: Install @devcontainers/cli
        run: npm install -g @devcontainers/cli

      - name: Build image
        run: |
          devcontainer build \
            --workspace-folder ${{ matrix.image.workspace-folder }} \
            --platform linux/amd64,linux/arm64 \
            --output type=image
