name: Build and Push Docker Image

on:
  push:
    branches:
      - master
  merge_group:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  publish-base-images:
    name: 'Publish image: ${{ matrix.image.name }}'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: false
      matrix:
        image:
          - name: Alpine Base
            workspace-folder: base-images/src/alpine-base
            image-name: alpine-base
            image-version-major: 1
            image-version-minor: 0
            image-version-patch: 1
    steps:
      - name: Check out the source code
        uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3 # v3.5.0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2.1.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.5.0

      - name: Log in to GitHub Docker Registry
        uses: docker/login-action@v2.1.0
        with:
          registry: https://ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Install @devcontainers/cli
        run: npm install -g @devcontainers/cli

      - name: Build image
        run: |
          devcontainer build \
            --workspace-folder ${{ matrix.image.workspace-folder }} \
            --platform linux/amd64,linux/arm64 \
            --image-name=ghcr.io/${{ github.repository }}/${{ matrix.image.image-name }}:${{ matrix.image.image-version-major }}.${{ matrix.image.image-version-minor }}.${{ matrix.image.image-version-patch }} \
            --image-name=ghcr.io/${{ github.repository }}/${{ matrix.image.image-name }}:${{ matrix.image.image-version-major }}.${{ matrix.image.image-version-minor }} \
            --image-name=ghcr.io/${{ github.repository }}/${{ matrix.image.image-name }}:${{ matrix.image.image-version-major }} \
            --image-name=ghcr.io/${{ github.repository }}/${{ matrix.image.image-name }}:latest \
            --push

  publish-images:
    needs:
      - publish-base-images
    name: 'Publish image: ${{ matrix.image.name }}'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: false
      matrix:
        image:
          - name: WordPress All-in-One
            workspace-folder: images/src/wordpress-all-in-one
            image-name: wordpress-all-in-one
            image-version-major: 1
            image-version-minor: 0
            image-version-patch: 0
    steps:
      - name: Check out the source code
        uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3 # v3.5.0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2.1.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.5.0

      - name: Log in to GitHub Docker Registry
        uses: docker/login-action@v2.1.0
        with:
          registry: https://ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Install @devcontainers/cli
        run: npm install -g @devcontainers/cli

      - name: Build image
        run: |
          devcontainer build \
            --workspace-folder ${{ matrix.image.workspace-folder }} \
            --platform linux/amd64,linux/arm64 \
            --image-name=ghcr.io/${{ github.repository }}/${{ matrix.image.image-name }}:${{ matrix.image.image-version-major }}.${{ matrix.image.image-version-minor }}.${{ matrix.image.image-version-patch }} \
            --image-name=ghcr.io/${{ github.repository }}/${{ matrix.image.image-name }}:${{ matrix.image.image-version-major }}.${{ matrix.image.image-version-minor }} \
            --image-name=ghcr.io/${{ github.repository }}/${{ matrix.image.image-name }}:${{ matrix.image.image-version-major }} \
            --image-name=ghcr.io/${{ github.repository }}/${{ matrix.image.image-name }}:latest \
            --push
