name: Trivy Scan

on:
  push:
  schedule:
    - cron: '0 0 * * 1'

permissions:
  contents: read

jobs:
  scan-image:
    name: 'Build and Scan: ${{ matrix.image.name }}'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      security-events: write
    strategy:
      fail-fast: false
      matrix:
        image:
          - name: Alpine Base
            workspace-folder: base-images/src/alpine-base
            image-name: alpine-base
          - name: WordPress All-in-One
            workspace-folder: images/src/wordpress-all-in-one
            image-name: wordpress-all-in-one
          - name: WordPress All-in-One (Xdebug)
            workspace-folder: images/src/wordpress-all-in-one-xdebug
            image-name: wordpress-all-in-one-xdebug
    steps:
      - name: Check out the source code
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@e81a89b1732b9c48d79cd809d8d81d79c4647a18 # v2.1.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@4b4e9c3e2d4531116a6f8ba8e71fc6e2cb6e6c8c # v2.5.0

      - name: Install @devcontainers/cli
        run: npm install -g @devcontainers/cli

      - name: Build image
        run: |
          devcontainer build \
            --workspace-folder ${{ matrix.image.workspace-folder }} \
            --platform linux/amd64 \
            --image-name ${{ matrix.image.image-name }}

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@e5f43133f6e8736992c9f3c1b3296e24b37e17f2 # 0.10.0
        if: ${{ (github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.event.pull_request.base.repo.full_name) && github.event.sender.login != 'dependabot[bot]' }}
        with:
          image-ref: '${{ matrix.image.image-name }}:latest'
          format: sarif
          output: trivy-${{ matrix.image.image-name }}.sarif

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@7df0ce34898d659f95c0c4a09eaa8d4e32ee64db # v2.2.12
        if: ${{ (github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.event.pull_request.base.repo.full_name) && github.event.sender.login != 'dependabot[bot]' }}
        with:
          sarif_file: trivy-${{ matrix.image.image-name }}.sarif

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@e5f43133f6e8736992c9f3c1b3296e24b37e17f2 # 0.10.0
        with:
          image-ref: '${{ matrix.image.image-name }}:latest'
          format: table
