name: Trivy Scan

on:
  push:
  schedule:
    - cron: '0 0 * * 1'

permissions:
  contents: read

jobs:
  scan-image:
    name: 'Build and Scan: ${{ matrix.image.name }}'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      security-events: write
    strategy:
      fail-fast: false
      matrix:
        image:
          - name: Alpine Base
            workspace-folder: base-images/src/alpine-base
            image-name: alpine-base
          - name: WordPress All-in-One
            workspace-folder: images/src/wordpress-all-in-one
            image-name: wordpress-all-in-one
    steps:
      - name: Check out the source code
        uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3 # v3.5.0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@e81a89b1732b9c48d79cd809d8d81d79c4647a18 # v2.1.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@4b4e9c3e2d4531116a6f8ba8e71fc6e2cb6e6c8c # v2.5.0

      - name: Install @devcontainers/cli
        run: npm install -g @devcontainers/cli

      - name: Build image
        run: |
          devcontainer build \
            --workspace-folder ${{ matrix.image.workspace-folder }} \
            --platform linux/amd64 \
            --image-name ${{ matrix.image.image-name }}

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@1f0aa582c8c8f5f7639610d6d38baddfea4fdcee # 0.9.2
        if: ${{ (github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.event.pull_request.base.repo.full_name) && github.event.sender.login != 'dependabot[bot]' }}
        with:
          image-ref: '${{ matrix.image.image-name }}:latest'
          format: sarif
          output: trivy.sarif

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@04df1262e6247151b5ac09cd2c303ac36ad3f62b # v2.2.9
        if: ${{ (github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.event.pull_request.base.repo.full_name) && github.event.sender.login != 'dependabot[bot]' }}
        with:
          sarif_file: trivy.sarif

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@1f0aa582c8c8f5f7639610d6d38baddfea4fdcee # 0.9.2
        with:
          image-ref: '${{ matrix.image.image-name }}:latest'
          format: table
